.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    height: 100vh;
    width: 100vw;
}

.title,
.subtitle,
.button,
.content {
    margin: 1rem 0;
}

.countdown {
    display: none;
}
